<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:isGame="true"
        android:label="Offline TicTacToe"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.kunalfarmah.covid_19_info_dashboard.activity.StartActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kunalfarmah.covid_19_info_dashboard.activity.MainActivity" />
        <activity
            android:name="com.kunalfarmah.covid_19_info_dashboard.activity.GameoverActivity"
            android:launchMode="singleTask" />
    </application>

</manifest>